<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tibco.as.spacebar.ui.SpaceBarPerspectiveFactory"
            icon="icons/spacebar.png"
            id="com.tibco.as.spacebar.ui.perspective"
            name="ActiveSpaces">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.as.spacebar.ui.perspective">
         <newWizardShortcut
               id="com.tibco.as.spacebar.ui.wizards.metaspace.create">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.tibco.as.views"
            class="com.tibco.as.spacebar.ui.navigator.MetaspaceNavigator"
            icon="icons/activespaces.png"
            id="com.tibco.as.spacebar.ui.navigator"
            name="Metaspaces">
      </view>
      <category
            id="com.tibco.as.views"
            name="ActiveSpaces">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            name="Metaspaces"
            priority="low"
            icon="icons/activespaces.png"
            activeByDefault="true"
            contentProvider="com.tibco.as.spacebar.ui.navigator.MetaspaceContentProvider"
            labelProvider="com.tibco.as.spacebar.ui.navigator.MetaspaceLabelProvider"
            id="com.tibco.as.spacebar.ui.navigator.content">
         <enablement>
           <instanceof
                 value="com.tibco.as.spacebar.ui.model.IElement">
           </instanceof>
         </enablement>
         <commonSorter
               class="com.tibco.as.spacebar.ui.navigator.MetaspaceSorter"
               id="com.tibco.as.spacebar.ui.navigator.metaspaceSorter">
         </commonSorter>
         <triggerPoints>
            <instanceof
                  value="com.tibco.as.spacebar.ui.model.Metaspaces">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="com.tibco.as.spacebar.ui.navigator.NewActionProvider"
            id="com.tibco.as.spacebar.ui.navigator.NewActionProvider">
         <enablement>
            <or>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Metaspace">
               </instanceof>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Spaces">
               </instanceof>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.SpaceFields">
               </instanceof>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Indexes">
               </instanceof>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.tibco.as.spacebar.ui.navigator.ImportExportActionProvider"
            id="com.tibco.as.spacebar.ui.navigator.ImportExportActionProvider">
         <enablement>
            <or>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Metaspace">
               </instanceof>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Space">
               </instanceof>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Spaces">
               </instanceof>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.tibco.as.spacebar.ui.navigator.PropertiesActionProvider"
            id="com.tibco.as.spacebar.ui.navigator.PropertiesActionProvider">
         <enablement>
            <or>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Metaspace">
               </instanceof>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Space">
               </instanceof>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <commonWizard
            type="new"
            wizardId="com.tibco.as.spacebar.ui.wizards.metaspace.create">
         <enablement>
            <or>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Metaspace">
               </instanceof>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.tibco.as.spacebar.ui.wizards.space.create">
         <enablement>
           <instanceof
                 value="com.tibco.as.spacebar.ui.model.Spaces">
           </instanceof>
         </enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.tibco.as.spacebar.ui.wizards.field.add">
         <enablement>
           <instanceof
                 value="com.tibco.as.spacebar.ui.model.SpaceFields">
           </instanceof>
         </enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.tibco.as.spacebar.ui.wizards.index.add">
         <enablement>
           <instanceof
                 value="com.tibco.as.spacebar.ui.model.Indexes">
           </instanceof>
         </enablement>
      </commonWizard>
      <commonWizard
            type="export"
            wizardId="com.tibco.as.spacebar.ui.wizards.export.CSV">
         <enablement>
            <and>
               <instanceof
                     value="com.tibco.as.spacebar.ui.model.Metaspace">
               </instanceof>
               <test
                     property="com.tibco.as.spacebar.ui.model.metaspace.connected">
               </test>
            </and>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.tibco.as.spacebar.ui.navigator">
         <popupMenu
               allowsPlatformContributions="true"
               id="com.tibco.as.spacebar.ui.navigator#PopupMenu">
            <insertionPoint name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
             <insertionPoint
                   name="additions"
                   separator="true"/>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.tibco.as.spacebar.ui.navigator">
         <includes>
            <contentExtension
                  pattern="com.tibco.as.spacebar.ui.navigator.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.tibco.as.spacebar.ui.navigator">
         <includes>
            <actionExtension
                  pattern="com.tibco.as.spacebar.ui.navigator.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.tibco.as.spacebar.ui.model.Space"
            class="com.tibco.as.spacebar.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.as.spacebar.ui.model.Field"
            class="com.tibco.as.spacebar.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.as.spacebar.ui.model.Index"
            class="com.tibco.as.spacebar.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.as.spacebar.ui.model.Metaspace"
            class="com.tibco.as.spacebar.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.as.spacebar.ui.editor.SpaceEditorInput"
            class="com.tibco.as.spacebar.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.as.spacebar.ui.editor.SpaceEditorInput"
            class="com.tibco.as.spacebar.ui.adapter.AdapterFactory">
         <adapter
               type="com.tibco.as.spacebar.ui.model.IElement">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.as.spacebar.ui.model.Member"
            class="com.tibco.as.spacebar.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.as.spacebar.ui.model.SpaceMember"
            class="com.tibco.as.spacebar.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.as.spacebar.ui.model.IElement"
            class="com.tibco.as.spacebar.ui.adapter.ElementAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.tibco.as.spacebar.ui.navigator">
            <command
                  commandId="com.tibco.as.spacebar.ui.command.metaspace.create"
                  icon="icons/metaspace_create.png"
                  label="New Metaspace"
                  style="push">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.tibco.as.spacebar.ui.navigator#PopupMenu?after=group.open">
         <command
               commandId="com.tibco.as.spacebar.ui.command.metaspace.connect"
               icon="icons/connect_co.gif"
               label="Connect"
               style="push">
            <visibleWhen checkEnabled="true"></visibleWhen>
         </command>
         <command
               commandId="com.tibco.as.spacebar.ui.command.metaspace.disconnect"
               icon="icons/disconnect_co.gif"
               label="Disconnect"
               style="push">
            <visibleWhen checkEnabled="true"></visibleWhen>
         </command>
         <command
               commandId="com.tibco.as.spacebar.ui.command.metaspace.openSpace"
               icon="icons/space.png"
               label="Open Space..."
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <menu
               id="com.tibco.as.spacebar.ui.navigator.space.browse"
               label="Browse"
               mnemonic="b">
            <command
                  commandId="com.tibco.as.spacebar.ui.command.space.browse.snapshot"
                  icon="icons/browse.png"
                  label="Snapshot"
                  mnemonic="s"
                  style="push">
            </command>
            <command
                  commandId="com.tibco.as.spacebar.ui.command.space.browse.current"
                  icon="icons/browse_current.png"
                  label="Current"
                  mnemonic="c"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>            
            <command
                  commandId="com.tibco.as.spacebar.ui.command.space.browse.all"
                  icon="icons/browse_all.png"
                  label="All"
                  mnemonic="a"
                  style="push">
            </command>
            <command
                  commandId="com.tibco.as.spacebar.ui.command.space.browse.new"
                  icon="icons/browse_new.png"
                  label="New"
                  mnemonic="n"
                  style="push">
            </command>
            <separator
                  name="com.tibco.as.spacebar.ui.command.space.browse.separator"
                  visible="true">
            </separator>
            <command
                  commandId="com.tibco.as.spacebar.ui.command.space.browse.browse"
                  icon="icons/browse_custom.png"
                  label="Browse..."
                  mnemonic="b"
                  style="push">
            </command>
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="com.tibco.as.spacebar.ui.model.Space">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="com.tibco.as.spacebar.ui.navigator.space.join"
               label="Join"
               mnemonic="j">
            <command
                  commandId="com.tibco.as.spacebar.ui.command.space.join.leech"
                  icon="icons/member.png"
                  label="Leech"
                  mnemonic="l"
                  style="push">
            </command>
            <command
                  commandId="com.tibco.as.spacebar.ui.command.space.join.seeder"
                  icon="icons/member_seeder.png"
                  label="Seeder"
                  mnemonic="s"
                  style="push">
            </command>
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="com.tibco.as.spacebar.ui.model.Space">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
         <command
               commandId="com.tibco.as.spacebar.ui.command.space.leave"
               label="Leave"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.tibco.as.spacebar.ui.navigator#PopupMenu?after=group.edit">
         <command
               commandId="com.tibco.as.spacebar.ui.command.metaspace.delete"
               icon="icons/delete.png"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.tibco.as.spacebar.ui.command.space.drop"
               icon="icons/delete.png"
               label="Drop"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.tibco.as.spacebar.ui.navigator#PopupMenu?after=group.build">
         <command
               commandId="com.tibco.as.spacebar.ui.command.metaspace.resume"
               label="Resume"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.tibco.as.spacebar.ui.command.metaspace.suspend"
               label="Suspend"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.tibco.as.spacebar.ui.command.space.recover"
               label="Recover"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.tibco.as.spacebar.ui.command.space.resume"
               label="Resume"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.tibco.as.spacebar.ui.command.index.drop"
               icon="icons/delete.png"
               label="Drop"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ActiveSpaces"
            id="com.tibco.as.spacebar.category">
      </category>
      <command
            categoryId="com.tibco.as.spacebar.category"
            defaultHandler="com.tibco.as.spacebar.ui.handlers.metaspace.Create"
            description="Create a new metaspace connection"
            id="com.tibco.as.spacebar.ui.command.metaspace.create"
            name="Create Metaspace">
      </command>
      <command
      		categoryId="com.tibco.as.spacebar.category"
            description="Delete a metaspace connection"
            id="com.tibco.as.spacebar.ui.command.metaspace.delete"
            name="Delete Metaspace">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Connect to a metaspace"
            id="com.tibco.as.spacebar.ui.command.metaspace.connect"
            name="Connect Metaspace">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Disconnect to a metaspace"
            id="com.tibco.as.spacebar.ui.command.metaspace.disconnect"
            name="Disconnect Metaspace">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Resume a metaspace"
            id="com.tibco.as.spacebar.ui.command.metaspace.resume"
            name="Resume Metaspace">
      </command>
      <command
      		categoryId="com.tibco.as.spacebar.category"
            description="Suspend a metaspace"
            id="com.tibco.as.spacebar.ui.command.metaspace.suspend"
            name="Suspend Metaspace">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Add space"
            id="com.tibco.as.spacebar.ui.command.metaspace.openSpace"
            name="Add Space">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Browse space"
            id="com.tibco.as.spacebar.ui.command.space.browse.browse"
            name="Browse">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Browse space with time scope ALL"
            id="com.tibco.as.spacebar.ui.command.space.browse.all"
            name="Browse All">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Browse space with time scope NEW"
            id="com.tibco.as.spacebar.ui.command.space.browse.new"
            name="Browse New">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Browse space with time scope SNAPSHOT"
            id="com.tibco.as.spacebar.ui.command.space.browse.snapshot"
            name="Browse Snapshot">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Browse space with time scope CURRENT"
            id="com.tibco.as.spacebar.ui.command.space.browse.current"
            name="Browse Current">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Join space as leech"
            id="com.tibco.as.spacebar.ui.command.space.join.leech"
            name="Join as Leech">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Join space as seeder"
            id="com.tibco.as.spacebar.ui.command.space.join.seeder"
            name="Join as Seeder">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Leave space"
            id="com.tibco.as.spacebar.ui.command.space.leave"
            name="Leave">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Drop space"
            id="com.tibco.as.spacebar.ui.command.space.drop"
            name="Drop Space">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Recover space"
            id="com.tibco.as.spacebar.ui.command.space.recover"
            name="Recover Space">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Resume space"
            id="com.tibco.as.spacebar.ui.command.space.resume"
            name="Resume Space">
      </command>
      <command
            categoryId="com.tibco.as.spacebar.category"
            description="Drop index"
            id="com.tibco.as.spacebar.ui.command.index.drop"
            name="Drop index">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tibco.as.spacebar.ui.handlers.metaspace.Delete"
            commandId="com.tibco.as.spacebar.ui.command.metaspace.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.tibco.as.spacebar.ui.model.Metaspace">
                     </instanceof>
                     <not>
			             <test
			                   property="com.tibco.as.spacebar.ui.model.metaspace.connected">
			             </test>
                     </not>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.metaspace.Connect"
            commandId="com.tibco.as.spacebar.ui.command.metaspace.connect">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Metaspace">
            		   </instanceof>
            		   <not>
			               <test 
			                       property="com.tibco.as.spacebar.ui.model.metaspace.connected">
			               </test>
		               </not>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.metaspace.Disconnect"
            commandId="com.tibco.as.spacebar.ui.command.metaspace.disconnect">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.tibco.as.spacebar.ui.model.Metaspace">
                     </instanceof>
                     <test
                           property="com.tibco.as.spacebar.ui.model.metaspace.connected">
                     </test>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.metaspace.Suspend"
            commandId="com.tibco.as.spacebar.ui.command.metaspace.suspend">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.tibco.as.spacebar.ui.model.Metaspace">
                     </instanceof>
		             <test
		                   property="com.tibco.as.spacebar.ui.model.metaspace.connected">
		             </test>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.metaspace.Resume"
            commandId="com.tibco.as.spacebar.ui.command.metaspace.resume">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.tibco.as.spacebar.ui.model.Metaspace">
                     </instanceof>
		             <test
		                   property="com.tibco.as.spacebar.ui.model.metaspace.connected">
		             </test>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.metaspace.OpenSpace"
            commandId="com.tibco.as.spacebar.ui.command.metaspace.openSpace">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.tibco.as.spacebar.ui.model.Spaces">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.browse.Browse"
            commandId="com.tibco.as.spacebar.ui.command.space.browse.browse">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.browse.All"
            commandId="com.tibco.as.spacebar.ui.command.space.browse.all">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.browse.New"
            commandId="com.tibco.as.spacebar.ui.command.space.browse.new">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.browse.Snapshot"
            commandId="com.tibco.as.spacebar.ui.command.space.browse.snapshot">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.browse.Current"
            commandId="com.tibco.as.spacebar.ui.command.space.browse.current">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.tibco.as.spacebar.ui.model.Space">
                     </instanceof>
                     <test
                           property="com.tibco.as.spacebar.ui.browseTimeScope.name"
                           value="CURRENT">
                     </test>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.JoinLeech"
            commandId="com.tibco.as.spacebar.ui.command.space.join.leech">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.JoinSeeder"
            commandId="com.tibco.as.spacebar.ui.command.space.join.seeder">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.Leave"
            commandId="com.tibco.as.spacebar.ui.command.space.leave">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
            		   <test
		                   property="com.tibco.as.spacebar.ui.model.space.joined">
		               </test>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.Drop"
            commandId="com.tibco.as.spacebar.ui.command.space.drop">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.Recover"
            commandId="com.tibco.as.spacebar.ui.command.space.recover">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.Resume"
            commandId="com.tibco.as.spacebar.ui.command.space.resume">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Space">
            		   </instanceof>
            		   <test
		                   property="com.tibco.as.spacebar.ui.model.space.suspended">
		               </test>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.tibco.as.spacebar.ui.handlers.space.DropIndex"
            commandId="com.tibco.as.spacebar.ui.command.index.drop">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
		               <instanceof
        	                   value="com.tibco.as.spacebar.ui.model.Index">
            		   </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tibco.as.spacebar.ui.navigator.MetaspacePropertyTester"
            id="com.tibco.as.spacebar.ui.model.metaspace.propertyTester"
            namespace="com.tibco.as.spacebar.ui.model.metaspace"
            properties="connected"
            type="com.tibco.as.spacebar.ui.model.Metaspace">
      </propertyTester>
      <propertyTester
            class="com.tibco.as.spacebar.ui.navigator.BrowseTimeScopePropertyTester"
            id="com.tibco.as.spacebar.ui.browseTimeScopeTester"
            namespace="com.tibco.as.spacebar.ui.browseTimeScope"
            properties="name"
            type="com.tibco.as.spacebar.ui.model.Space">
      </propertyTester>
      <propertyTester
            class="com.tibco.as.spacebar.ui.navigator.SpacePropertyTester"
            id="com.tibco.as.spacebar.ui.model.space.propertyTester"
            namespace="com.tibco.as.spacebar.ui.model.space"
            properties="joined"
            type="com.tibco.as.spacebar.ui.model.Space">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.as.spacebar.ui.editor.continuous.ContinuousBrowser"
            contributorClass="com.tibco.as.spacebar.ui.editor.continuous.ActionBarContributor"
            icon="icons/browse_all.png"
            id="com.tibco.as.spacebar.ui.space.browser.all"
            name="Browse All">
      </editor>
      <editor
            class="com.tibco.as.spacebar.ui.editor.continuous.ContinuousBrowser"
            contributorClass="com.tibco.as.spacebar.ui.editor.continuous.ActionBarContributor"
            icon="icons/browse_new.png"
            id="com.tibco.as.spacebar.ui.space.browser.new"
            name="Browse New">
      </editor>
      <editor
            class="com.tibco.as.spacebar.ui.editor.snapshot.SnapshotBrowser"
            contributorClass="com.tibco.as.spacebar.ui.editor.snapshot.ActionBarContributor"
            icon="icons/browse.png"
            id="com.tibco.as.spacebar.ui.space.browser.snapshot"
            name="Browse Snapshot">
      </editor>
      <editor
            class="com.tibco.as.spacebar.ui.editor.snapshot.SnapshotBrowser"
            contributorClass="com.tibco.as.spacebar.ui.editor.snapshot.ActionBarContributor"
            icon="icons/browse_current.png"
            id="com.tibco.as.spacebar.ui.space.browser.current"
            name="Browse Current">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tibco.as.spacebar.ui.preferences.ActiveSpacesPreferencePage"
            id="com.tibco.as.spacebar.ui.preferences.ActiveSpaces"
            name="ActiveSpaces">
      </page>
      <page
            category="com.tibco.as.spacebar.ui.preferences.ActiveSpaces"
            class="com.tibco.as.spacebar.ui.preferences.SpaceEditorPreferencePage"
            id="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.SpaceEditor"
            name="Space Editor">
      </page>
      <page
            category="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.SpaceEditor"
            class="com.tibco.as.spacebar.ui.preferences.SpaceEditorDisplayPreferencePage"
            id="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.SpaceEditor.Display"
            name="Display">
      </page>
      <page
            category="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.SpaceEditor"
            class="com.tibco.as.spacebar.ui.preferences.SpaceEditorClipboardPreferencePage"
            id="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.SpaceEditor.Clipboard"
            name="Clipboard">
      </page>
      <page
            category="com.tibco.as.spacebar.ui.preferences.ActiveSpaces"
            class="com.tibco.as.spacebar.ui.preferences.TransferPreferencePage"
            id="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.ImportExport"
            name="Import/Export">
      </page>
      <page
            category="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.ImportExport"
            class="com.tibco.as.spacebar.ui.preferences.CSVPreferencePage"
            id="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.ImportExport.CSV"
            name="CSV">
      </page>
      <page
            category="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.ImportExport"
            class="com.tibco.as.spacebar.ui.preferences.ExcelPreferencePage"
            id="com.tibco.as.spacebar.ui.preferences.ActiveSpaces.ImportExport.Excel"
            name="Excel">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.as.spacebar.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.tibco.as.spacebar.ui.navigator"
            name="ActiveSpaces Wizards">
      </category>
      <wizard
            category="com.tibco.as.spacebar.ui.navigator"
            class="com.tibco.as.spacebar.ui.wizards.metaspace.CreateMetaspaceWizard"
            finalPerspective="com.tibco.as.spacebar.ui.perspective"
            hasPages="true"
            icon="icons/metaspace_create.png"
            id="com.tibco.as.spacebar.ui.wizards.metaspace.create"
            name="Metaspace"
            preferredPerspectives="com.tibco.as.spacebar.ui.perspective"
            project="false">
      </wizard>
      <wizard
            category="com.tibco.as.spacebar.ui.navigator"
            class="com.tibco.as.spacebar.ui.wizards.space.CreateSpaceWizard"
            finalPerspective="com.tibco.as.spacebar.ui.perspective"
            hasPages="true"
            icon="icons/space_create.png"
            id="com.tibco.as.spacebar.ui.wizards.space.create"
            name="Space"
            preferredPerspectives="com.tibco.as.spacebar.ui.perspective"
            project="false">
         <selection
               class="com.tibco.as.spacebar.ui.model.Spaces">
         </selection>
      </wizard>
      <wizard
            category="com.tibco.as.spacebar.ui.navigator"
            class="com.tibco.as.spacebar.ui.wizards.space.field.AddFieldWizard"
            finalPerspective="com.tibco.as.spacebar.ui.perspective"
            hasPages="true"
            icon="icons/field_add.png"
            id="com.tibco.as.spacebar.ui.wizards.field.add"
            name="Field"
            preferredPerspectives="com.tibco.as.spacebar.ui.perspective"
            project="false">
         <selection
               class="com.tibco.as.spacebar.ui.model.SpaceFields">
         </selection>
      </wizard>
      <wizard
            category="com.tibco.as.spacebar.ui.navigator"
            class="com.tibco.as.spacebar.ui.wizards.space.index.AddIndexWizard"
            finalPerspective="com.tibco.as.spacebar.ui.perspective"
            hasPages="true"
            icon="icons/index_add.png"
            id="com.tibco.as.spacebar.ui.wizards.index.add"
            name="Index"
            preferredPerspectives="com.tibco.as.spacebar.ui.perspective"
            project="false">
         <selection
               class="com.tibco.as.spacebar.ui.model.Indexes">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.tibco.as.spacebar.ui.exportWizards"
            name="ActiveSpaces">
      </category>
      <wizard
            category="com.tibco.as.spacebar.ui.exportWizards"
            class="com.tibco.as.spacebar.ui.wizards.transfer.csv.DelimitedExportWizard"
            icon="icons/csv.png"
            id="com.tibco.as.spacebar.ui.wizards.export.CSV"
            name="CSV">
         <description>
            Export to CSV.
         </description>
         <selection
               class="com.tibco.as.spacebar.ui.model.IElement">
         </selection>
      </wizard>
      <wizard
            category="com.tibco.as.spacebar.ui.exportWizards"
            class="com.tibco.as.spacebar.ui.wizards.transfer.excel.ExcelExportWizard"
            icon="icons/excel.png"
            id="com.tibco.as.spacebar.ui.wizards.export.Excel"
            name="Excel">
         <description>
            Export to Excel.
         </description>
         <selection
               class="com.tibco.as.spacebar.ui.model.IElement">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.tibco.as.spacebar.ui.importWizards"
            name="ActiveSpaces">
      </category>
      <wizard
            category="com.tibco.as.spacebar.ui.importWizards"
            class="com.tibco.as.spacebar.ui.wizards.transfer.csv.DelimitedImportWizard"
            icon="icons/csv.png"
            id="com.tibco.as.spacebar.ui.wizards.import.CSV"
            name="CSV">
         <description>
            Import CSV files.
         </description>
      </wizard>
      <wizard
            category="com.tibco.as.spacebar.ui.importWizards"
            class="com.tibco.as.spacebar.ui.wizards.transfer.excel.ExcelImportWizard"
            icon="icons/excel.png"
            id="com.tibco.as.spacebar.ui.wizards.import.Excel"
            name="Excel">
         <description>
            Import Excel files.
         </description>
      </wizard>
      <wizard
            category="com.tibco.as.spacebar.ui.importWizards"
            class="com.tibco.as.spacebar.ui.wizards.transfer.simulation.SimulationImportWizard"
            icon="icons/import_config_obj.png"
            id="com.tibco.as.spacebar.ui.wizards.import.Simulation"
            name="Simulation">
         <description>
            Simulate space data.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.tibco.as.spacebar.ui.properties.MetaspacePropertyPage"
            id="com.tibco.as.spacebar.ui.properties.metaspacePropertyPage"
            name="Connection">
         <enabledWhen>
            <instanceof
                  value="com.tibco.as.spacebar.ui.model.Metaspace">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
</plugin>
